language: python
dist: xenial
sudo: true

python:
  - 3.7.2

env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1

install:
  - pip install pipenv
  - pipenv sync -d


script:
  - pipenv run flake8 .
  - pipenv run python -m doctest README.md
  - pipenv run pytest --cov=pygseguro

after_success:
  - pipenv run codecov
