[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
responses = "*"

[packages]
requests = "*"
pytz = "*"

[requires]
python_version = "3.7"
